<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Instant-Runoff Vote Generator</title>
    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- Sortable.js from http://rubaxa.github.io/Sortable/ -->
    <script src="Sortable.js"></script>
    <!-- ng-sortable.js from http://rubaxa.github.io/Sortable/ -->
    <script src="ng-sortable.js"></script>
    <script src="qualeval_common.js"></script>
    <script src="generator.js"></script>
    <style>
    .add {min-width: 50px;}
    .rounded {border-radius: 10px; border-style:solid; border-width:1px; padding:2px;}
    .choices {min-height:200px;}
    .choices, li {list-style-type:none;margin:10px;}
    </style>
  </head>
  <body>
    <div ng-app="vote" ng-controller="voteController">
      <style>
        .i {height:{{state.imgh}};width:{{state.imgw}};display:{{state.imgdisp}};}
        .imgdisp {display:{{state.imgdisp}};}
      </style>
      <table border=0><tr><td style="vertical-align:text-top;width:600px">
        <p style="text-align:right;">
        <div style="position:fixed;height:100%;top:0px;left:10px;padding:0px;  ">
          <div style="overflow:scroll;height:100%;width:540px;padding:0px; ">
            <div style="min-height:100%;width:100%;padding=0px;">
              <div>
              <input id="STATE_title" placeholder="title" style="width:350px;"
              onkeyup="SCOPE.state.title=this.value;"></input>
              <input id="STATE_electionID" placeholder="election identifier"
              onkeyup="SCOPE.state.electionID=this.value;"></input><br>
              <textarea rows=4 id="STATE_prompt" placeholder="prompt" onkeyup="SCOPE.state.prompt=this.value;">If your top choice could not possibly win, your vote automatically transfers to the next ranked candidate.</textarea><br>
              <div class="choices">
                <ul ng-sortable="opts" id="userChoices" class="rounded choices">
                  <li ng-repeat="choice in state.choices"><div class="rounded">
                    <table width=100%><tr>
                      <td rowspan=2><button style="color:red;" name="{{$index}}" onclick="SCOPE.state.choices.splice(parseInt(this.name),1);SCOPE.$digest();">x</button>{{$index+1}}</td>
                      <td rowspan=2><input placeholder="identifier" name="{{$index}}" style="width:50px;"
                        onkeyup="SCOPE.state.choices[parseInt(this.name)][0]=this.value;" value="{{choice[0]}}"></input></td>
                      <td rowspan=2><img class="i" src="{{choice[2]}}" alt="{{choice[0]}}"><br>
                      </td>
                      <td width=100%><input placeholder="text" name="{{$index}}" style="width:100%;"
                        onkeyup="SCOPE.state.choices[parseInt(this.name)][1]=this.value;" value="{{choice[1]}}"></input></td>
                    </tr><tr><td>
                      <input placeholder="optional image URL" name="{{$index}}" 
                      onkeyup="SCOPE.state.choices[parseInt(this.name)][2]=this.value;" value="{{choice[2]}}" class="imgdisp"></input></td>
                    </tr></table>
                  </div></li>
                </ul>
              <button class="rounded add" ng-click="state.choices.push(['','','']);"><h1>+ add required choice</h1></button>
            </div>
            <input id="gform" placeholder="pre-filled google form URL" style="width:100%;"></input><br>
              <select id="STATE_imgdisp" onchange="SCOPE.state.imgdisp=this.value;setStyle('display',this.value,['STATE_imgw','STATE_imgh']);SCOPE.$digest();">
                <option value="">show icon</option>
                <option value="none">hide icon</option>
              </select>
              <input id="STATE_imgw" placeholder="image width"
              onkeyup="SCOPE.state.imgw=this.value;SCOPE.$digest();"></input>
              <input id="STATE_imgh" placeholder="image height"
              onkeyup="SCOPE.state.imgh=this.value;SCOPE.$digest();"></input>
              <br>
              <textarea id="extrastate" placeholder="additional JSON fields (inserted into state, must be in {curly braces}. e.g. {'id':'you'})" rows=4></textarea>
              <button ng-click="submit()" class="submitbutton clearbutton">
                <h1>Submit</h1></button><br><br>
              <textarea placeholder="comma-separated list of emails" rows=3></textarea>
              <br><input placeholder="from address for e-mail"></input>
              <br><textarea placeholder="Personalized message"></textarea>
            </div>
          </div>
        </div>
      </td><td>
        <ul ng-sortable="opts" id="THEMAINLIST" class="choices">
          <li ng-repeat="choice in state.candidates"><div class="rounded"><table><tr>
            <td rowspan=2><button style="color:red;" name="{{$index}}" onclick="SCOPE.state.candidates.splice(parseInt(this.name),1);SCOPE.$digest();">x</button></td>
            <td rowspan=2><input placeholder="identifier" name="{{$index}}" style="width:50px;"
              onkeyup="SCOPE.state.candidates[parseInt(this.name)][0]=this.value;" value="{{choice[0]}}"></input></td>
            <td rowspan=2><img class="i" src="{{choice[2]}}" alt="{{choice[0]}}"><br>
            </td>
            <td width=100%><input placeholder="text" name="{{$index}}" style="width:100%;"
              onkeyup="SCOPE.state.candidates[parseInt(this.name)][1]=this.value;" value="{{choice[1]}}"></input></td>
          </tr><tr><td>
            <input placeholder="optional image URL" name="{{$index}}" 
            onkeyup="SCOPE.state.candidates[parseInt(this.name)][2]=this.value;" value="{{choice[2]}}" class="imgdisp"></input></td>
          </tr></table></div></li>
        </ul>
        <button class="rounded add" ng-click="state.candidates.push(['','','']);"><h1>+ add possible choice</h1></button>
        <br><br><br>
        <textarea cols=40 rows=10 style="font-family:courier;" id="jsoninsert" placeholder="code for insert JSON (optional)">{
  "candidates": [
    ["id0", "text", "http://icon.gif"],
    ["id1", "text", "http://icon.gif"]
  ],
  "choices": [
    ["id2", "text", "http://icon.gif"]
  ]
}</textarea>
        <br><input type='button' value="insert" onclick='insertJSON();'></input>
      </td></tr></table>
    </div>
  </body>
</html>